#NetBeans
logs/
google-api-java-client/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
target/
.idea/
*.graph
logs/*
output/
freebase*
graph_*
# OS.X
*.class
.DS_Store
.AppleDouble
.LSOverride
*.iml
# Icon must end with two \r
Icon
freebase*

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

queryFolder/
SAPPER/
tmp/
test/
software/
logs/
